*{
    padding: 0px;
    margin: 1vw;
    /* background-color: rgb(249, 252, 222); */
}

.navbar{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 2vw;
    align-items: center;
}
li{
    cursor: pointer;
    color: rgb(88, 187, 118);
}
li:hover{
    color: rgb(59, 184, 184);
}
button{
    background-color: rgb(78, 42, 206);
    
    padding: 10px;
    border-radius: 7px;
    border-style: none;
    color: aliceblue;
}
 button:hover {
    background-color: rgb(11, 179, 165);
}
/* ///////////////////hero /////////////////////////////
 */

 .hero{
 
    display: flex;
    /* justify-content: space-around; */
 }
 .right-hero{
    width: 50vw;
  
 }
 .rating ul li{
    margin: -15px;
 }
 h1{
    font-size: 4vw;
 }
 .tic{
    display: flex;
    align-content: center;

 }
 .tic1, .tic2 {
    display:flex;

 }
 .left-hero img{
    width: 35vw;
 }
/* ///////////////////////////main/////////////////////////////// */
.serv{
    display: flex;
}
.serv1, .serv2, .serv3{
    border-radius: 18px;
    background: linear-gradient(145deg, #e0e3c8, #ffffee);
    box-shadow:  5px 5px 10px #d4d6bd,
                 -5px -5px 10px #ffffff;
}
/* ///////////////////////////// */
.diversity{
    height: 70vh;
    display: flex;
    background-color: rgb(50, 22, 207);
    align-items: center;
    border-radius: 5px;
    
    
}

.right-diver{
    width: 40vw;
    background-color:transparent;

}
.right-diver h2{
    font-size: 3vw;
    background-color: transparent;
    color: #ffffff;
}
.right-diver p{
  font-size: 2vw;
  background-color: transparent;
  color: rgb(188, 201, 212);

}
.right-diver button{
    background-color: #fffffc;
    color: rgb(25, 28, 175);
}
.left-diver img{
  
    width: 35vw;
    
    
   
}
/* ///////////////////////////////////////////*/
.icon{
    display: flex;
}
.left-wall h3{
    color: blue;

}
.left-wall h6{
    margin-top: -10px;

}
